# SPDX-FileCopyrightText: 2025 夕月霞
# SPDX-License-Identifier: AGPL-3.0-or-later

# Clock configuration
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=550000000

# Debug and SWD configuration
CONFIG_DEBUG=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_OPTIMIZATIONS=y

# Disable RTC to freeup blue LED (D37) - LSE disabled in device tree
CONFIG_RTC_STM32=n

# Enable UART console on all configurations for convenience. This is usually
# done at board level upstream so that all samples output printed messages to
# the configured #zephyr,console. In production boards, this may be enabled at
# application level or in a debug configuration overlay.
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y