# SPDX-License-Identifier: CC0-1.0
menu "Zephyr"
source "Kconfig.zephyr"
endmenu

# Include spark drivers
rsource "../drivers/Kconfig"

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"
