# SPDX-License-Identifier: CC0-1.0
# Clock configuration
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=550000000
CONFIG_SYS_CLOCK_TICKS_PER_SEC=50000
CONFIG_COUNTER_TIMER_STM32=y
CONFIG_RTC_STM32=n  # No RTC connected

# Basic I/O
CONFIG_SERIAL=y
CONFIG_GPIO=y
CONFIG_I2C=y
